body{
font-family:Arial;
background:#f2f2f2;
}

.container{
width:600px;
margin:auto;
}

.card{
background:white;
padding:20px;
margin:20px;
border-radius:10px;
box-shadow:0 0 10px grey;
}

input{
display:block;
margin:10px;
padding:8px;
width:90%;
}

button{
padding:10px;
background:#007bff;
color:white;
border:none;
border-radius:5px;
}
